@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Montserrat";
    background-color: #FEFCFE;
}
header {
    padding-right: 53px;
    padding-left: 50px;
    padding-top: 49px;
    position: relative;
    padding-bottom: 27px;
    left: 10px;
}

.wrapper {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


.nav-left {
    left: -310px;
    top: 50px;
    position: absolute;

}
.nav-right {
    position: absolute;
    margin: 0;
    right: -306px;
}
.nav-right-2 {
    position: absolute;
    right: -366px;
}
.nav {
    display: flex;
    justify-content: flex-start;
    position: absolute;
   list-style-type: none;
   margin: 0;
   left: -14px;
    top: 53px;
   
}
.nav-item {
    padding-left: 29px;
    padding-right: 26px;
    
}
.nav-item:first-child {
    padding-left: 0;
}
.nav-item:last-child {
    padding-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #2B3541;
    font-size: 18px;
    line-height: 150%;
    transition: 0.2s border-bottom ease;
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;
}
.icons-header {
    transition: 1s;
}
.icons-header:hover {
    transform: scale(1.2);
}
.nav-link:hover {
    border-bottom: 1px solid #2B3541;
    padding-bottom: 10px;
}
.main {
    max-width: 1325px;
    max-width: 852px;
    padding-bottom: 66px;
    position: relative;
    left: 8px;
    top: -2px;
}
.main-info {
    position: relative;
    width: 100%;
    bottom: 597px;
    left: 30px;
    width: 100%;
    max-width: 676px;
    max-height: 385px;  
    
}
.title-h1 {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    color: #2B3541;
    margin: 0;
}
.info {
    position: absolute;
    max-width: 425px;
    height: 211px;
}

.info-workout {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    left: -1px;
    top: 155px;
    
}
.info-workout-1 {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    left: 90px;
    top: 40px;
    position: absolute;
    padding-bottom: 20px;
    margin: 0;
}
.info-workout-PE {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    top: 112px;
    left: 91px;
    position: absolute;
    display: inline;
    margin: 0;
    width: 297px;
    height: 49px;
}
.yellow-button {
    border: none;
    background: #FBF138;
    color: #2B3541;
    width: 252px;
    height: 64px;   
    box-shadow: rgba(251, 241, 56, 0.3);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    top: 201px;
    right: -272px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.yellow-button:hover {
    border: none;
    background: #2B3541;
    color: #FBF138;
    width: 252px;
    height: 64px;   
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    top: 201px;
    right: -272px;
}

.main-foto {
    position: relative;
    right: -358px;
    top: 31px;
}
.main-arrow {
    position: absolute;
    top: 903px;
    left: 135px;
}
.screen-2 {
    position: relative;
    left: 42px;
    width: 1143px;
    height: 690px;
    padding-bottom: 160px;
    left: 35px;

}
.title-h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin: 0;
    padding-bottom: 40px;
}
.events {
    height: 690px;
    width: 1143px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.event-1 {
    width: 367px;
	height: 600px;
}
.event-2 {
    width: 366px;
	height: 600px;
}
.event-3 {
    width: 367px;
	height: 600px;
}
.image-gradient-1 {
	width: 367px;
	height: 600px;
	background: 
        linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%),
		url(/files/@1x/maraphon.png) 0 0 no-repeat;
	background-blend-mode: screen;
	background-size: cover;
    z-index: 1;
    top: -1px;
    margin-right: 20px;
    position: absolute;
    left: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.image-gradient-2 {
	width: 366px;
	height: 600px;
	background: 
         linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%),
		url(/files/@1x/Vebinar\ 1.png) 0 0 no-repeat;
	background-blend-mode: screen;
	background-size: cover;
    z-index: 1;
    top: 0px;
    margin-right: 20px;
    position: absolute;
    left: 389px;
}
.image-gradient-3 {
	width: 367px;
	height: 600px;
	background: 
        linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%),
		url(/files/@1x/Vebinar\ 2.png) 0 0 no-repeat;
	background-blend-mode: screen;
	background-size: cover;
    z-index: 1;
    top: 0px;
    position: absolute;
    left: 775px;
}
.image-gradient-1:hover .participate-button-1{
	width: 367px;
	height: 600px;
	background: 
        linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%), 
		url(/files/@1x/maraphon.png) 0 0 no-repeat;
	background-blend-mode: screen;
	background-size: cover;
    z-index: 1;
    top: -1px;
    margin-right: 20px;
    position: absolute;
    left: 3px;
}
.image-gradient-2:hover .participate-button-2{
	width: 366px;
	height: 600px;
	background: 
		linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%), 
		url(/files/@1x/Vebinar\ 1.png) 0 0 no-repeat;
	background-blend-mode: screen;
	background-size: cover;
    z-index: 1;
    top: 0px;
    margin-right: 20px;
    position: absolute;
    left: 389px;
}
.image-gradient-3:hover .participate-button-3{
	width: 367px;
	height: 600px;
	background: 
		linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%), 
		url(/files/@1x/Vebinar\ 2.png) 0 0 no-repeat;
	background-blend-mode: screen;
	background-size: cover;
    z-index: 1;
    top: 0px;
    position: absolute;
    left: 775px;
}
.title-events-1,
.title-events-2,
.title-events-3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    z-index: 2;
    position: relative;

}
.title-events-1 {
    left: 32px;
    top: 5px;
}
.title-events-2 {
    left: 31px;
    top: 5px;
}
.title-events-3 {
    left: 29px;
    top: 5px;
}
.events-data-1,
.events-data-2,
.events-data-3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    z-index: 2;
    position: relative;
}
.events-data-1 {
    left: 33px;
    top: 13px;
}
.events-data-2 {
    left: 31px;
    top: 13px;
}
.events-data-3 {
    left: 31px;
    top: 14px;
}
.events-button-1,
.events-button-2,
.events-button-3 {
    border: none;
    background: #FBF138;
    color: #2B3541;
    width: 126px;
    height: 47px;   
    font-size: 18px;
    line-height: 150%;
    z-index: 2;
    position: relative;
}
.events-button-1 {
    top: 372px;
    left: 244px;
}
.events-button-2 {
    top: 375px;
    left: 240px;
}
.events-button-3 {
    top: 375px;
    left: 240px;
}
.participate-button-1,
.participate-button-2,
.participate-button-3 {
    max-width: 221px;
    max-height: 64px;
    height: 100%;
    width: 100%;
    border: none;
    background: #2B3541;
    color: #FBF138;
    width: 252px;
    height: 64px;   
    box-shadow: rgba(251, 241, 56, 0.3);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    z-index: 1;
}
.participate-button-1 {
    top: 13px;
    right: 98px;
}
.participate-button-2 {
    top: 13px;
    right: 98px;
}
.participate-button-3 {
    top: 13px;
    right: 98px;
}
.screen-3 {
    width: 1143px;
    height: 841px;
    position: relative;
    top: 0px;
    left: 37px;
    padding-bottom: 160px;
}
.title-screen-3 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-bottom: 38px;
    height: 100px;
    width: 1143px;
}
.title-h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    padding-bottom: 38px;
    padding-right: 602px;
    margin: 0px;
}
.title-data {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    position: absolute;
    top: -16px;
    right: 0px;
   
}
.grid-container {
    display: grid;
    grid-template-columns: 367px 366px 367px repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: absolute;
    top: 137px;
    left: 0px;
    height: 703px;
    width: 1140px;
    align-content: space-between;
}
.grid-container > .grid-item-1 {
    
    border: 1px solid #2B3541;
    grid-area: 1 / 1 / 2 / 2;
    height: 250px;
}
.grid-container > .grid-item-2 {
    
    border: 1px solid #2B3541;
    grid-area: 1 / 2 / 3 / 3;
    height: 402px;
}
.grid-container > .grid-item-3 {
    
    border: 1px solid #2B3541;
    grid-area: 1 / 3 / 2 / 4;
    height: 309px;
}
.grid-container > .grid-item-4 {
    
    border: 1px solid #2B3541;
    grid-area: 2 / 1 / 4 / 2;
    height: 433px;
}
.grid-container > .grid-item-5 {
   
    border: 1px solid #2B3541;
    grid-area: 3 / 2 / 4 / 3;
    height: 281px;
}
.grid-container > .grid-item-6 {
    
    border: 1px solid #2B3541;
    grid-area: 2 / 3 / 4 / 4;
    height: 374px;
}
.grid-item-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}
.grid-item-data {
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
}
.screen-4 {
    background: #F3F3F3;
    position: relative;
    height: 348px;
    margin-left: auto;
    
    padding-left: 15px;
    padding-right: 15px;

}
.sub {
    max-width: 1140px;
    height: 348px;
    margin: 0;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}
.title-sub {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #2B3541;
    position: absolute;
    left: 661px;
    top: 79px;
    z-index: 2;

}
.sub-button {
    width: 225px;
    height: 65px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    border: none;
    position: absolute;
    top: 170px;
    left: 1046px;
}
.sub-button:hover {
    width: 225px;
    height: 65px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    border: none;
    position: absolute;
    top: 170px;
    left: 1046px;
}


.sub-title-agree {
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.5;
    position: absolute;
    top: 248px;
    left: 677px;
}
.sub-title-agree-2 {
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.5;
    position: absolute;
    top: 248px;
    left: 813px;
    text-decoration-line: underline;
}
.sub-title-agree-2:hover {
    opacity: 1;
}
.sub-circle {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 605px;
}
.sub-input {
    position: absolute;
    max-width: 369px;
    max-height: 62px;
    height: 100%;
    width: 100%;
   
    top: 169px;
    left: 666px;
}
#email {
    border: none;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
    position: absolute;
    left: 652px;
    background: #FFFFFF;
}
#email:hover {
    background: #F3F3F3;
}
.sub-box-emty {
    background: url(/icons/check\ box\ empty.svg) no-repeat top;
    width: 24px;
    height: 24px;
    top: 246px;
    position: absolute;
    left: 651px;
    
}
.sub-box-emty:checked {
    background: url(/icons/check_box.svg) no-repeat bottom;
}
.screen-5 {
    padding-top: 160px;
    position: relative;
    width: 1142px;
    height: 513px;
    padding-bottom: 170px;
    
}

.title-5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    position: absolute;
    left: 38px;
    margin: 0;
}
.screen-5-content {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    position: absolute;
    top: 212px;
    left: 38px;
}
.screen-5-button {
    border: none;
    background: #FBF138;
    color: #2B3541;
    width: 225px;
    height: 65px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 371px;
    left: 39px;
}
.screen-5-button:hover {
    border: none;
    background: #2B3541;
    color: #FBF138;
    width: 225px;
    height: 65px;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 371px;
    left: 39px;
}
.trainer {
    width: 581px;
    height: 336px;
    position: absolute;
    right: 0px;
    left: 598px;
    float: right;
}
.advantages {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 576px;
    left: 37px;
    width: 1141px;
    height: 97px;
}

.advantages-item {
}
.advantages-item-title-1,
.advantages-item-title-2,
.advantages-item-title-3, 
.advantages-item-title-4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    padding-bottom: 21px;
}
.advantages-item-p-1,
.advantages-item-p-2,
.advantages-item-p-3,
.advantages-item-p-4 {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;

}
.advantages-item-1,
.advantages-item-2,
.advantages-item-3 {
    
}
.advantages-item-1 {
    height: 97px;
    width: 231px;
}
.advantages-item-2 {
    height: 97px;
    width: 284px;
}
.advantages-item-3 {
    height: 97px;
    width: 221px;
}
.advantages-item-4 {
    height: 97px;
    width: 204px;
}
footer {
    position: relative;
    height: 149px;
    background: #F3F3F3;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.footer {
    height: 149px;
    width: 1142px;
    margin: 0px;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}
.footer-up {
    display: flex;
    justify-content: center;
}
.fot-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 59px;
    left: 209px;
}
.fot-logo {
    position: absolute;
    left: 40px;
    top: 56px;
}
.fot-menu-item-1,
.fot-menu-item-2,
.fot-menu-item-3 {
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    margin: 0;
}
.fot-menu-item-1,
.fot-menu-item-2 {
    padding-right: 90px;
}
.fot-down-item {
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
}
.fot-down-item-1,
.fot-down-item-2 {
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
}
.url {
    display: flex;
    position: absolute;
    top: 57px;
    right: 110px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
}
.fot-social {
    display: flex;
    position: absolute;
    top: 47px;
    right: -40px;
}

.fot-in {
    padding-right: 30px;
 

}
.fot-ellipse {
    position: absolute;
    top: 35px;
    right: 220px;
}
.footer-down {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 38px;
    top: 94px;
}
.fot-down-item-1 {
    padding-right: 491px;
}
.fot-down-item-2 {
    position: relative;
    left: -3px;
}
.fot-down-item-2-link {
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
    top: 14px;
    right: 2px;
    position: relative;
    height: 21px;
}
.fot-down-item-2-link:hover {
    opacity: 1;
}